.bg__cover.reverse.bgCover#bg1
  .bg__inside.bg__first(style="background-image:url(images/bg-p1.jpg)") 
  .bg__inside.bg__second(style="background-image:url(images/bg-p2.png)") 

.bg__cover.reverse.bgCover#bg2  
  .bg__inside.bg__t3(style="background-image:url(images/bg2-p1.jpg)") 
  .bg__inside.bg__t4(style="background-image:url(images/bg2-p2.png)") 
