section.hero
  .hero__about We Providing
  h1.hero__title Social Media marketing for businesses
  a#seeVideo.button.button--yellow.button--text-uppercase(href="#") Смотрим видео
  .loader#loader
    .loader__inner
