section.hero
  .hero__about We Providing
  h1.hero__title Social Media marketing for businesses
  a.button.button--yellow.button--text-uppercase(href="#") Free consultation
  #set-height
  p#time 
    span время видео
  #btn.button.button--red установить на 10 секундах
  video(id="video",  tabindex="0", autobuffer preload)
   <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="https://www.html5rocks.com/tutorials/video/basics/Chrome_ImF.webm"></source>
    p Sorry, your browser does not support the &lt;video&gt; element.