
// svg animate

section.full-height.svg
  <svg id="svg1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="200" height="200" viewBox="0 0 126 126" >
    <path class="path" id="elephant" fill="none" stroke ="black"    stroke-dasharray= "700" stroke-dashoffset="0"  d="M113.5 56.2l-8.5-11.4 -2.5-14c-0.8-4.3-4.3-7.7-8.6-8.3L79.8 20.6l-11.7-8.1c-2.9-2-6.6-2.4-9.9-1 -0.7 0.3-1.4 0.7-2 1.2l-11.4 8.5 -14 2.5c-0.8 0.1-1.5 0.4-2.3 0.7 -3.2 1.4-5.5 4.4-6 7.9l-2 14.1 -8.1 11.7c-2.5 3.6-2.4 8.4 0.2 12l8.5 11.4 2.5 14c0.8 4.3 4.3 7.7 8.6 8.3l14.1 2 11.7 8.1c2.9 2 6.7 2.4 9.9 1 0.7-0.3 1.4-0.7 2-1.2l11.4-8.5 14-2.5c0.8-0.1 1.5-0.4 2.3-0.7 3.2-1.4 5.5-4.4 6-7.9l2-14.1 8.1-11.7C116.3 64.6 116.2 59.7 113.5 56.2zM63.1 100.5c-20.6 0-37.4-16.8-37.4-37.4 0-20.6 16.8-37.4 37.4-37.4s37.4 16.8 37.4 37.4C100.4 83.8 83.7 100.5 63.1 100.5zM63.1 29.3c-18.7 0-33.8 15.2-33.8 33.8 0 18.7 15.2 33.8 33.8 33.8 18.7 0 33.8-15.2 33.8-33.8C96.9 44.5 81.7 29.3 63.1 29.3zM54.1 39.6l0 8.1 -2 1.9 -7.9 0L54.1 39.6zM74.4 87.9c0 0-2.1 0-5.3 0 -3.3 0-7.3-1.5-7.3-7.5 0-6 7.8-5.9 7.8-5.9v3.8c0 0-0.8-0.1-1.8-0.1s-1.8 0.5-1.8 2.3 1.7 3.1 1.7 3.1 2.7 0 5.2 0c2.4 0 2.6-2.8 2.6-2.8s0-2.1 0-4.5c0-2.4-2.4-4.8-6.5-4.8s-6.8-5.2-6.8-5.2 -0.1 3.3-0.1 5.5c0 0.5-1.6 4.8-10.9 3.4 -7.8-1.2-9-14.3-9-18.1 0-3.8 2.6-5.5 2.6-5.5h9.3l2-2.1v-6.9c0-1.7-0.3-3.7 4.2-3.7 4.5 0 6.4 3.4 6.4 3.4s3.6 0 5.9 0c2.3 0 6.7 1.7 7.6 3.1 0.8 1.5 3.8 3.2 3.8 22.2C84 86.7 74.4 87.9 74.4 87.9zM72.9 59.4c-1.8 0-2.3 3.1-2.3 3.1 0.9 0 6.6 1 6.6 1S74.7 59.4 72.9 59.4z">
    </path>
  </svg>

  button#aminSvgBtn Кликни для анимации
  br

  <svg version="1.1" class="aminSvg2" id="aminSvg2"  stroke-dasharray= "900"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  width="800px" height="400px" viewBox="0 0 800 400" style="enable-background:new 0 0 800 400;" xml:space="preserve">
    <path id="star" stroke-width ="5"   class="st2" d="M400,82.531l38.168,77.336l85.346,12.401l-61.757,60.198l14.579,85.001L400,277.336l-76.336,40.132 l14.579-85.001l-61.757-60.198l85.346-12.401L400,82.531z"/>
  </svg>
  button#aminSvgBtn2 Кликни для анимации2
  br